<figure>
    <a class="text-decoration-none" href="/{{location}}/{{filename}}">
        <img class="loadedIMG" src="/img/extensions/{{extension originalname}}.png" />
        <a class="text-decoration-none" href="/download/{{location}}/{{filename}}">
            <img class="downloadImg" src="/img/download.png" />
        </a>
        <figcaption>{{opis originalname}}</figcaption>
    </a>
</figure>