<figure>
    <a class="text-decoration-none" href="/{{location}}/{{filename}}">
        <img class="loadedIMG" src="/img/folder.png" />
    </a>
    <figcaption >{{opis filename}}</figcaption>
</figure>

    
<!--a class="text-decoration-none" href="/download/{{location}}/{{filename}}">
    <img class="downloadImg" src="/img/download.png" />
</a-->