<div class="container-fluid">
    <div class="row flex-nowrap">
        {{> sidebar}}
        <div class="col py-3 darkBG">
            <div class="bg-purple">
                <h1>{{subject}}</h1>
            </div>
            {{#each file}}
            <div class="row col-md-10 m-5">
                <div class="col-md fs-3">
                    <form action="/edit/{{location}}/{{filename}}" method="post">
                        <div class="upload-form col-md-10">
                            <input type="text" class="form-control mb-3" placeholder="{{originalname}}" name="filename" autocomplete="off" />
                            <textarea class="form-control mb-3" rows="6" aria-label="With textarea" placeholder="{{info}}" name="info" autocomplete="off"></textarea>
                            <!--rows="8" cols="40" -->
                            <input type="hidden" value="{{originalname}}" name="prevName" />
                            <input type="submit" value="Prześlij" class="btn btn-outline-primary" />
                            <!--input type="text" class="col-md-3 fs-6" placeholder="{{author}}" name="author" /-->
                        </div>
                        </form-->
                </div>
                <div class="col-md-1 edit">
                    <a href="/edit/{{location}}/{{filename}}">
                        <img src="/img/edit.png">
                    </a>
                </div>
                <div class="col-md-4">
                    <figure class="figureInfo">
                        <img class="infoImg" src="/img/extensions/{{extension originalname}}.png">
                        <a class="text-decoration-none" href="/download/{{location}}/{{filename}}">
                            <img class="downloadInfoImg" src="/img/download.png">
                        </a>
                        <figcaption>{{originalname}}</figcaption>
                    </figure>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>