<div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
        {{> sidebar}}
        <div class="col d-flex flex-column h-md-100">
            <main class="row overflow-auto">
                <div class="bg-purple">
                    <h1>{{subject}}</h1>
                </div>
                <div class="row col-md-10 m-5">
                    <div class="col-md fs-3"></div>
                    <div class="col-md-1 edit">
                        <!--a href="/edit/{{file.location}}/{{file.filename}}">
                        <img src="/img/edit.png">
                    </a-->
                    </div>
                    <div class="col-md-4">
                        <figure class="figureInfo">
                            <img class="infoImg" src="/img/extensions/{{extension file.originalname}}.png">
                            <a class="text-decoration-none" href="/download/{{file.location}}/{{file.filename}}">
                                <img class="downloadInfoImg" src="/img/download.png">
                            </a>
                            <figcaption>{{file.originalname}}</figcaption>
                        </figure>
                    </div>
                    {{#if img}}
                    <img src="/uploads/{{file.location}}/{{file.filename}}" alt="">
                    {{/if}}
                    <div>
                        <pre>{{text}}</pre>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>